@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


.container {
    background-color: #fff;
    min-height: 480px;
    max-width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 768px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a {
    color: #0c49d6;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background: #a59fb2;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    margin-top: -10px;
}


.container input {
    background-color: #eee;
    border: none;
    border-radius: 8px;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
    outline: none;
}


.container .password-container input {
    
    margin-right: 115px;
    width: 100%;
    height: 35px;
    padding: 18px 15px 20px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
    
}

.container.active .sign-in{
    transform: translateX(100%);
}


.sign-up {
    margin-top: 10px;
    left: 10;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}


span.info {
    margin-top: -5px;
}


@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}



.social-icons {
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all .6s ease-in-out;
    border-radius: 150px 0 0  100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #71737f, #292727);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
    
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;

}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}


/* Password Strength Bar */

div#strength.strength{
    color: black;
    margin-top: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#bars {
    
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 8px;
    width: 100%;
    height: 6.5px;
    border-radius: 6px;
    background: rgb(255, 255, 255 / 6%);
}

#bars div {
    height: 6px;
    border-radius: 6px;
    transform: 0.4s;
    width: 0%;
}


#bars.Weak div {
    background: #d0424f;
    width: 25%;
    transition: 0.8s ease-in-out;
    
}

#bars.Medium div {
    background: #e58448;
    width: 50%;
    transition: 0.8s ease-in-out;
}

#bars.Strong div {
    background: #1eb965;
    width: 75%;
    transition: 0.8s ease-in-out;
}


#bars.Very-Strong div {
    background: #0c7e3fcd;
    width: 100%;
    transition: 0.8s ease-in-out;
}

div.password-container{

width: 420px;
right: -25%;




}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; /* Ensure it takes the full width */
    margin: 8px 50px 0 10px;
    
    
    
}

.password-container input {
    flex: 1;
    width: 100%;
    background-color: #eee; /* Match the background color of other inputs */
    border: none;
    border-radius: 8px;
    margin-left: px;
    margin-top: 1px;
    padding: 10px 15px;
    font-size: 13px;
    outline: none;
}

.toggle-password {
    position: absolute;
    right: 110px; /* Adjust as needed */
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}


button.toggle-password {
    background: #eee;
    color: black;
    width: auto;
    padding: 5px; /* Adjust padding as needed */
    margin-top: 1px;
    margin-right: 10px; /* Adjust or remove this if necessary */
}


 


/* Add in button transitions
/* Add in icon effects
/* Add in button code so that it chanages when all fields have been filled*/


.toggle-password1 {
    position: absolute;
    right: 110px; /* Adjust as needed */
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}


button.toggle-password1 {
    background: #eee;
    color: black;
    width: auto;
    padding: 5px; /* Adjust padding as needed */
    margin-top: 1px;
    margin-right: 10px; /* Adjust or remove this if necessary */
}



.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 80%;
    padding: 20px;
    margin: 10px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.2s
    cubic-bezier(0.68, -0.55, -0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -1.55, .27, 2.55);
}




.wrapper .icon:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        padding: 10px;
        border-radius: 5px;
    
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px
    rgba(0, 0, 0, 0.1);
    color: black;
    border-radius: 20px;
    
}

.wrapper .icon:hover i {
    color: #fff;
    transition: ease-in .15s;
}
 
.wrapper li.icon.Facebook:hover  {
    background-color: rgb(62, 60, 60);
    transition: 0.2s;
}


.wrapper li.icon.Github:hover  {
    background-color: rgb(62, 60, 60);
}

.wrapper li.icon.google:hover  {
    background-color: rgb(62, 60, 60);
    transition: 0.2s;
}

.wrapper li.icon.linkedin:hover  {
    background-color: rgb(62, 60, 60);
    transition: 0.2s;
}






ul.wrapper {
    margin-top: 30px;
}





.wrapper li.icon.google:hover .tooltip {
    color: #fff;
    background-color: rgb(62, 60, 60);
}
.wrapper li.icon.Facebook:hover .tooltip {
    color: #fff;
    background-color: rgb(62, 60, 60);
}
.wrapper li.icon.Github:hover .tooltip {
    color: #fff;
    background-color: rgb(62, 60, 60);
}
.wrapper li.icon.linkedin:hover .tooltip {
    color: #fff;
    background-color: rgb(62, 60, 60);
}